[Unit]
Description=Pagekite
After=network.target

[Service]
ExecStart=/usr/local/bin/pagekite.py 8080 {{.kiteName}}.pagekite.me
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
